h1 {
  font-size: 60px;
  color: rgb(94, 83, 61);
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 300;
  margin: 60px 0 0;
}

a {
	text-decoration: none;
	color: inherit;
	transition: color .5s $default-ease;

  &:hover {
    color: #3db8cc;
  }
}

p {
  &:first-child {
    margin-top: 0;
  }
}

.brd-link {
  border-bottom: 1px solid;
}

.blue-link {
  color: #3db8cc;
  font-weight: 500;
  border-bottom: 1px solid;

  &:hover {
    color: #439ead;
  }
}

.phone-link {
  &:hover {
    color: inherit;
  }
}

.icon-link {
  .icon {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -.1em;
    margin-right: 10px;
    font-size: 35px;
  }
}

.us-title {
  font-size: 40px;
  color: rgb(94, 83, 62);
  line-height: 1.2;
  font-weight: 300;
  margin: 25px 0;
}

.documents-ul {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.6;

    a {
      color: #3db8cc;
      border-bottom: 1px solid;
      font-weight: 500;

      &:hover {
        color: #439ead;
      }
    }

    span {
      color: #aca599;
      margin-left: .1em;
    }
  }
}

.us-list {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    position: relative;
    margin-top: 10px;

    &:before {
      content: "";
      position: absolute;
      left: -25px;
      height: 1px;
      width: 16px;
      top: .8em;
      background: rgb(94, 83, 62);
    }
  }
}