.layouts-container {
	margin: 60px auto 50px;

	.big-desc {
		font-size: 16px;
		line-height: 1.6;

		p:first-child {
			margin-top: 0;
		}
	}

	.normal-desc {
		font-size: 14px;
		line-height: 1.6;
		margin-top: 35px;
	}

	.layouts-tabs {
		margin: 25px 0 0;
		padding: 0;
		list-style: none;

		li {
			margin-bottom: 20px;

			span {
				display: inline-block;
				vertical-align: top;
				font-weight: 500;
				font-size: 14px;
				text-transform: uppercase;
				color: #3bb9cb;
				border: 4px solid transparent;
				cursor: pointer;
				height: 32px;
				line-height: 34px;
				padding: 0 15px;
				transition: all .2s ease;
				white-space: nowrap;

				&:hover {
					color: #5e533e;
				}
			}

			&.active {
				span {
					border-color: #5e533e;
					cursor: default;
					color: #5e533e;
				}
			} 
		}
	}

	.layout-about-grid {
		padding-left: 100px;
	}

	.layout-about {
		.layout-info {
			.title {
				font-size: 34px;
				line-height: 1.2;
				font-weight: 300;
			}

			.text {
				font-size: 14px;
				line-height: 1.6;
				margin-top: 15px;
			}

			.documents-ul {
				margin-top: 25px;
			}
		}
	}

	.layout-map {
		position: relative;
		margin-bottom: 75px;
		width: 782px;
		height: 622px;
		background-position: center center;
		background-size: 100% auto;
		background-repeat: no-repeat;

		.rooms {
			list-style: none;
			margin: 0;
			padding: 0;
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			
			li {
				position: absolute;
				cursor: default;

				.number {
					position: absolute;
					left: 0;
					top: 0;
					display: inline-block;
					border-radius: 35px;
					width: 35px;
					height: 35px;
					line-height: 35px;
					color: #fff;
					background: #3cbacb;
					text-align: center;
					font-size: 20px;
					font-weight: 500;
				}

				&:nth-of-type(1) {
					top: 190px;
					left: 570px;
				}
				&:nth-of-type(2) {
					top: 450px;
					left: 580px;
				}
				&:nth-of-type(3) {
					top: 430px;
					left: 470px;
				}
				&:nth-of-type(4) {
					top: 450px;
					left: 350px;
				}
				&:nth-of-type(5) {
					top: 405px;
					left: 190px;
				}
				&:nth-of-type(6) {
					top: 250px;
					left: 165px;
				}
				&:nth-of-type(7) {
					top: 250px;
					left: 290px;
				}
				&:nth-of-type(8) {
					top: 150px;
					left: 130px;
				}
				&:nth-of-type(9) {
					top: 240px;
					left: 465px;
				}
				&:nth-of-type(10) {
					top: 315px;
					left: 380px;
				}
				&:nth-of-type(11) {
					top: 70px;
					left: 330px;
				}
				&:nth-of-type(12) {
					top: 70px;
					left: 250px;
				}
				&:nth-of-type(13) {
					top: 115px;
					left: 60px;
				}
				&:nth-of-type(14) {
					top: 550px;
					left: 595px;
				}
				&:nth-of-type(15) {
					top: 155px;
					left: 470px;
				}

				.info {
					display: none;
					position: absolute;
					left: 0;
					top: -100px;
					width: 250px;
					height: 78px;
					margin-left: -107.5px;
					text-align: center;
					z-index: 3;

					.info-cont {
						display: inline-block;
						vertical-align: top;
						height: 100%;
						background: #3cbacb;
						color: #fff;
						font-weight: 500;
						padding: 0 15px;

						.title {
							font-size: 16px;
							margin-top: 13px;
						}

						.size {
							font-size: 20px;

							.amount {
								font-size: 30px;
							}

							sup {
								font-size: 15px;
							}
						}
					}

					&:before {
						content: "";
						position: absolute;
						top: 100%;
						left: 50%;
						margin-left: -10px;
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 10px 10px 0 10px;
						border-color: #3cbacb transparent transparent transparent;
					}
				}

				&:hover {
					.info {
						display: block;
					}
				}
			}
		}
	}

	.layout-map.first-var {
		background-image: url(../images/layouts/plan1.png);
	}

	.layout-map.second-var {
		background-image: url(../images/layouts/plan2.png);
	}

	.layout-map.free-var {
		background-image: url(../images/layouts/planFree.png);
	}
}