.news-ul {
	width: 980px;
	margin: 20px auto 45px;
	list-style: none;
	padding: 0;
	font-size: 0;

	.news-li {
		padding: 30px 0;
		border-bottom: 1px solid #aea99e;

		.news-poster {
			display: inline-block;
			vertical-align: top;
			height: 180px;
			width: 250px;
			background-size: cover;
			background-position: center center;
			margin-right: 50px;
		}

		.news-info {
			display: inline-block;
			vertical-align: top;
			width: 680px;
			font-size: 16px;

			.date {
				font-size: 14px;
			}

			.title {
				font-weight: 500;
				margin-top: 10px;
			}

			.text {
			  font-size: 14px;
			  line-height: 1.6;
			  margin-top: 15px;
			}
		}

		&:last-child {
			border: 0 none;
		}
	}
}