extends ./layout.jade

block vars
  - var bodyClass = "about";

block content
  .wrapper
    h1 О доме
  .slider-block
    .container
      .grid_1
        .us-title Фасады
        .block-text.
          Архитектура здания выполнена в стиле «фьюжн» и сочетает в себе классические мотивы исторического центра Ростова-на-Дону с современным элегантным дизайном. В основу концепции положено совмещение различных высококачественных материалов, таких как кирпич ручной формовки и система вентилируемого фасада.
      .grid_3.us-slider
        .js-us-slider
          each i in [1,2,3,4,5,6,7,8,9,10,11,12]
            img(alt="" src="images/sliders/facades/#{i}.jpg")
      .clearfix

  .us-block
    .wrapper
      .us-title Приемущества дома
      ul.benefits
        li
          .benefit-icon
          .title Технологии
          .text.
            Качественная отделка подъездов.
            Совремные лифты. Благоустроенная закрытая внутренняя территория, детские игровые комплексы, малые архитектурные формы. Вечернее и ночное освещение территории комплекса и дворовых территорий.
            Многоярусный и наземный паркинги для жильцов комплекса с возможностью 
        
        li
          .benefit-icon
          .title МЕСТОПОЛОЖЕНИЕ
          .text.
            Пешеходная улица, развитая инфраструктура, отсутствие загруженных транспортных магистралей – вот главное в месторасположении нового жилого комплекса. Все необходимое находится в радиусе 500м. Это позволит вам больше времени посвятить семье, отдыху, друзьям. 
        li
          .benefit-icon
          .title КАЧЕСТВЕННАЯ ОТДЕЛКА
          .text.
            Качественная отделка подъездов.
            Современные лифты.
            Благоустроенная закрытая внутренняя территория, детские игровые комплексы, малые архитектурные формы. Вечернее и ночное освещение территории комплекса и дворовых территорий.
            Многоярусный и наземный паркинги для жильцов комплекса с возможностью. 
        
        li
          .benefit-icon
          .title ПАРКОВКА
          .text.
            Каждый желающий может купить машиноместо в подземном паркинге. Все въезды и выезды будут осуществляются по пропускам, что послужит гарантией целостности и сохранности вашего автомобиля.

  .slider-block
    .container
      .grid_1
        .us-title Инфраструк-<br>тура дома
        .block-text.
          Жилой дом Крепостной 100<br>
          включает в себя:
          <ul>
            <li>подземную парковку для жильцов;
            <li>внутреннюю охраняемую территорию с гостевой парковкой;
            <li>детскую площадку;
            <li>спортивную зону;
            <li>рекреационную зону.
          </ul>
      .grid_3.us-slider
        .js-us-slider
          each i in [1,2,3,4,5,6]
            img(alt="" src="images/sliders/structure/#{i}.jpg")
      .clearfix

  .slider-block
    .container
      .grid_1
        .us-title Инфраструк-<br>тура дома
        .block-text.
          <p>На первом этаже располагается общий холл, оборудованный охранным постом. Все общественные зоны выполняются с применением высококачественных отделочных материалов.</p>
          <p>В здании используется лифт класса люкс испанской фирмы IMEM c отделкой деревом, а так же высококлассная централизованная система очистки воды и система видеонаблюдения.</p>
      .grid_3.us-slider
        .js-us-slider
          each i in [1,2,3,4,5,6,7,8]
            img(alt="" src="images/sliders/hall/#{i}.jpg")
      .clearfix
  