extends ./layout.jade

block vars
  - var bodyClass = "layouts";

block content
  .wrapper
    h1 Планировки
  .container.layouts-container
    .grid_1
      .big-desc.
        <p>Каждый этаж дома представляет собой отдельную квартиру площадью 210 м2 с собственным лестнично-лифтовым холлом.</p>
        <p>Ориентация по трем сторонам света и доминирование над окружающей застройкой обеспечивает не только оптимальную инсоляцию и проветриваемость помещений, 
        но и великолепный вид из панорамных окон.</p>
      .normal-desc.
        Мы предлагаем несколько вариантов планировочных решений, но можно разработать индивидуальный проект специально для вас.
      ul(data-tabs="layout").js-tab-links.layouts-tabs
        li
          span 1 Вариант
        li
          span 2 Вариант
        li
          span Свободная планировка

    .grid_3.layout-about-grid
      div(data-tabs="layout").js-tabs
        .js-tab.layout-about
          .layout-map.first-var
            ul.rooms
              li
                .number 1
                .info
                  .info-cont
                    .title Кухня-столовая
                    .size
                      span.amount 32
                      span м<sup>2</sup>
              li
                .number 2
                .info
                  .info-cont
                    .title Гостиная
                    .size
                      span.amount 24,3
                      span м<sup>2</sup> 
              li
                .number 3
                .info
                  .info-cont
                    .title Кабинет
                    .size
                      span.amount 13
                      span м<sup>2</sup> 
              li
                .number 4
                .info
                  .info-cont
                    .title Детская
                    .size
                      span.amount 29,5
                      span м<sup>2</sup> 
              li
                .number 5
                .info
                  .info-cont
                    .title Спальня № 1
                    .size
                      span.amount 25,5
                      span м<sup>2</sup> 
              li
                .number 6
                .info
                  .info-cont
                    .title Спальня № 2
                    .size
                      span.amount 23,7
                      span м<sup>2</sup> 
              li
                .number 7
                .info
                  .info-cont
                    .title Санузел
                    .size
                      span.amount 13,2
                      span м<sup>2</sup> 
              li
                .number 8
                .info
                  .info-cont
                    .title Гардеробная
                    .size
                      span.amount 10
                      span м<sup>2</sup> 
              li
                .number 9
                .info
                  .info-cont
                    .title Санузел
                    .size
                      span.amount 5
                      span м<sup>2</sup> 
              li
                .number 10
                .info
                  .info-cont
                    .title Холл
                    .size
                      span.amount 25,5
                      span м<sup>2</sup> 
              li
                .number 11
                .info
                  .info-cont
                    .title Вестибюль
                    .size
                      span.amount 6,3
                      span м<sup>2</sup> 
              li
                .number 12
                .info
                  .info-cont
                    .title Лифтовый холл
                    .size
                      span.amount 4,9
                      span м<sup>2</sup> 
              li
                .number 13
                .info
                  .info-cont
                    .title Балкон
                    .size
                      span.amount 5,1
                      span м<sup>2</sup> 
              li
                .number 14
                .info
                  .info-cont
                    .title Балкон
                    .size
                      span.amount 3,5
                      span м<sup>2</sup> 
              li
                .number 15
                .info
                  .info-cont
                    .title Гардероб (кладовая)
                    .size
                      span.amount 5
                      span м<sup>2</sup> 

          .layout-info
            .title КВАРТИРА ДЛЯ БОЛЬШОЙ СЕМЬИ
            //- .text Внушительным габаритам помещения отвечают и пропорции двухстороннего камина на границе гостиной и столовой. Второй этаж традиционно заняли приватные комнаты, в цоколе оборудовали развлекательную зону и спа, а в мансардном этаже с открытой террасой—комнату отдыха. Столовой и кухне мы отвели более камерное помещение, а гостиную разместили в двусветном объёме. С двух сторон её огибают холл и длинный коридор, куда выходят двери рабочего кабинета, гостевого блока и лифтовой холл. Чрезмерную вертикальность гостиной мы компенсировали подбором подчёркнуто массивных элементов интерьера. Над диванной зоной парит созданная по авторскому проекту трёхметровая люстра.
            .documents-ul
              li
                a(href="#").disabled Вариант планировки 1
                span  PDF, 81 KB
        .js-tab.layout-about
          .layout-map.second-var
            ul.rooms
              li
                .number 1
                .info
                  .info-cont
                    .title Кухня-столовая
                    .size
                      span.amount 32
                      span м<sup>2</sup>
              li
                .number 2
                .info
                  .info-cont
                    .title Гостиная
                    .size
                      span.amount 24,3
                      span м<sup>2</sup> 
              li
                .number 3
                .info
                  .info-cont
                    .title Гардеробная
                    .size
                      span.amount 11,7
                      span м<sup>2</sup> 
              li
                .number 4
                .info
                  .info-cont
                    .title Спальня № 1
                    .size
                      span.amount 30,7
                      span м<sup>2</sup> 
              li
                .number 5
                .info
                  .info-cont
                    .title Детская
                    .size
                      span.amount 24
                      span м<sup>2</sup> 
              li
                .number 6
                .info
                  .info-cont
                    .title Спальня № 2
                    .size
                      span.amount 21,6
                      span м<sup>2</sup> 
              li
                .number 7
                .info
                  .info-cont
                    .title Санузел
                    .size
                      span.amount 11
                      span м<sup>2</sup> 
              li
                .number 8
                .info
                  .info-cont
                    .title Кабинет
                    .size
                      span.amount 10
                      span м<sup>2</sup> 
              li
                .number 9
                .info
                  .info-cont
                    .title Санузел
                    .size
                      span.amount 6–5
                      span м<sup>2</sup> 
              li
                .number 10
                .info
                  .info-cont
                    .title Холл
                    .size
                      span.amount 32,7
                      span м<sup>2</sup> 
              li
                .number 11
                .info
                  .info-cont
                    .title Вестибюль
                    .size
                      span.amount 6,3
                      span м<sup>2</sup> 
              li
                .number 12
                .info
                  .info-cont
                    .title Лифтовый холл
                    .size
                      span.amount 4,9
                      span м<sup>2</sup> 
              li
                .number 13
                .info
                  .info-cont
                    .title Балкон
                    .size
                      span.amount 5,1
                      span м<sup>2</sup> 
              li
                .number 14
                .info
                  .info-cont
                    .title Балкон
                    .size
                      span.amount 3,5
                      span м<sup>2</sup> 
              li
                .number 15
                .info
                  .info-cont
                    .title Кладовая
                    .size
                      span.amount 4
                      span м<sup>2</sup> 
          .layout-info
            .title КВАРТИРА ДЛЯ ЭСТЕТОВ
            //- .text Внушительным габаритам помещения отвечают и пропорции двухстороннего камина на границе гостиной и столовой. Второй этаж традиционно заняли приватные комнаты, в цоколе оборудовали развлекательную зону и спа, а в мансардном этаже с открытой террасой—комнату отдыха. Столовой и кухне мы отвели более камерное помещение, а гостиную разместили в двусветном объёме. С двух сторон её огибают холл и длинный коридор, куда выходят двери рабочего кабинета, гостевого блока и лифтовой холл. Чрезмерную вертикальность гостиной мы компенсировали подбором подчёркнуто массивных элементов интерьера. Над диванной зоной парит созданная по авторскому проекту трёхметровая люстра.
            .documents-ul
              li
                a(href="#").disabled Вариант планировки 2
                span  PDF, 81 KB
        .js-tab.layout-about
          .layout-map.free-var
          .layout-info
            .title СВОБОДНАЯ ПЛАНИРОВКА
            //- .text Внушительным габаритам помещения отвечают и пропорции двухстороннего камина на границе гостиной и столовой. Второй этаж традиционно заняли приватные комнаты, в цоколе оборудовали развлекательную зону и спа, а в мансардном этаже с открытой террасой—комнату отдыха. Столовой и кухне мы отвели более камерное помещение, а гостиную разместили в двусветном объёме. С двух сторон её огибают холл и длинный коридор, куда выходят двери рабочего кабинета, гостевого блока и лифтовой холл. Чрезмерную вертикальность гостиной мы компенсировали подбором подчёркнуто массивных элементов интерьера. Над диванной зоной парит созданная по авторскому проекту трёхметровая люстра.
            .documents-ul
              li
                a(href="#").disabled Свободная планировка
                span  PDF, 81 KB
    
    .clearfix
  