extends ./layout.jade

block vars
  - var bodyClass = "news";

block content
  .wrapper
    h1 Новости
  ul.news-ul
    each i in [1,2,3]
      li.news-li
        div(style="background-image: url(images/tmp/news#{i}.jpg);").news-poster
        .news-info
          .date 23 Сентября 2014
          .title НАЧАЛИСЬ ПРОДАЖИ КВАРТИР ВО ВТОРОЙ ОЧЕРЕДИ
          .text Вторая очередь находится в процессе строительства, так что сейчас купить квартиру можно по самой выгодной цене. Поторопитесь, чем выше становится  «Большой», тем выше стоимость квадратного метра. Строительство ведется  при финансовой поддержке «Сбербанка», что гарантирует надежность ваших вложений!
          
  